<br>
<div class="content">
    <h1 class="heading">descripcion</h1>
    <p class="description">¡Girala para leer mas sobre este producto!</p>
    <a class="card">
      <div class="front">
        <img class="front" src="{{shoes.photoUrl}}">
      </div>
      <div class="back">
        <div>
            <p class="card-text">
              {{shoes.descripcion}}
            </p>
        </div>
      </div>
    </a>
    <div class="flex">
        <a href="#0" class="bttn">¡Agregar a la compra!</a>
      </div> <br>
      <div class="flex">
          <a href="/products" class="bttn">¡Regresar!</a>
        </div>
  </div>
  
