a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 225px;
    height: 25px;
    background: white;
    border-radius: 70px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 5px;
    transition: 1s box-shadow;
  }
  
  a:hover {
    box-shadow: 0 5px 0px 0px rgba(0,0,0,.1);
  }

  i {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: lighter;
  }